<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:replace="~{components :: bootstrap-links}"></div>
</head>
<body>
    <div th:replace="~{components :: toggle-color-modes}"></div>
    <div th:replace="~{components :: navbar}"></div>
    <form action="/close" th:object="${acc}">
        <div>
            <label for="aid">Account ID:</label>
            <input type="number" class="form-control" id="accountId" name="accountId" th:field="*{accountId}" readonly>
        </div>
        <div>
            <p>Do you want to close Account of ID</p>
        </div>
        <button type="submit" id="dchoice" name="dchoice" value="yes">Yes</button>
        <button type="submit" id="dchoice" name="dchoice" value="no">No</button>
    </form>
</body>
</html>