<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <div th:replace="~{components :: bootstrap-links}"></div>
    <div th:replace="~{components :: datatable-links}"></div>
    <script>
      $(document).ready(function () {
        $("#dataTable").DataTable({
          searching: false,
          dom: "rtiplf",
          info: false,
          columnDefs: [{ orderable: false, targets: 3 }]
        });
      });
    </script>

    <script>
      window.history.pushState("url", "Title", "/createteller");
    </script>
    <link th:href="@{/css/error_message.css}" rel="stylesheet" />
  </head>
  <body>
    <div th:replace="~{components :: toggle-color-modes}"></div>
    <div th:replace="~{components :: navbar}"></div>
    <h2>Teller Entry Form</h2>
    <form th:action="@{/adding}" method="get" id="form1" th:object="${teller}" >
      <table class="table table-striped">
        <tr hidden>
          <td hidden>Teller Id:</td>
          <td><input type="text" th:field="*{tellerId}" readonly hidden/></td>
        </tr>
        <tr>
          <td>Teller Name:</td>
          <td><input type="text" th:field="*{tellerName}" required/></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="text" th:field="*{tellerPass}" required/></td>
        </tr>
  
        <tr>
          <td>
            <div> <th:block th:each="role: ${tellerRoles}">
                <input type="radio" th:field="*{tellerRoles}" th:text="${role.roleName}"
                  th:value="${role.roleId}" class="m-2" required />
              </th:block>
            </div>
          </td>
        </tr>
      </table>
      <button type="submit" form="form1" value="Submit" >Create Teller</button>
    
    </form>

    <!-- Table Management of Tellers -->
    <div
      class="mydivlist"
      style="
        width: 85%;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        margin: 20px auto;
        flex: 1;
      "
    >
      <table class="table table-striped" id="dataTable" data-page-length='10' data-order='[[0, "asc"]]'>
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 5%;">Teller Id</th>
            <th scope="col" style="width: 5%;">Teller Name</th>
            <th scope="col" style="width: 5%;">Teller Role</th>
            <th scope="col" style="width: 5%;">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="u:${tellerList}">
            <td th:text="${u.tellerId}"></td>
            <td th:text="${u.tellerName}"></td>
            <td th:text="${u.tellerRoles}"></td>
            
            <td><a style="color: red" th:href="@{'/deleteteller/' + ${u.tellerId}}"><i
                                    class="fas fa-trash"></i>delete</a></td>
                    </tr>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
