<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <div th:replace="~{components :: bootstrap-links}"></div>
    <div th:replace="~{components :: datatable-links}"></div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <script>
      $(document).ready(function () {
        $("#dataTable").DataTable({
          searching: false,
          dom: "rtiplf",
          info: false,
          columnDefs: [
            {
              targets: 6,
              render: function (data, type, row, meta) {
                if (type === "sort") {
                  switch (data) {
                    case "active":
                      return 0;
                    case "inactive":
                      return 1;
                    case "closed":
                      return 2;
                  }
                }
                return data;
              },
            },
          ],
        });
      });
    </script>
    <style>
      tr,
      td {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div th:replace="~{components :: toggle-color-modes}"></div>
    <div th:replace="~{components :: navbar}"></div>
    <div style="padding-left: 180px; padding-right: 180px">
      <div class="container-fluid">
        <div class="row">
          <div class="col" style="min-height: 500px">
            <h1 class="text-center">Account Entry Form</h1>
            <div
              class="justify-content-center align-items-center h-100"
              style="padding-top: 9px"
            >
              <form
                class="mx-1 mx-md-2"
                th:action="@{/addaccount}"
                method="get"
                th:object="${account}"
              >
                <input type="text" th:field="*{accountId}" hidden />
                <input type="number" th:field="*{balance}" value="0" hidden />
                <input
                  type="text"
                  th:field="*{status}"
                  th:value="active"
                  hidden
                />

           
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-floating">
                    <input
                      type="text"
                      style="width: 350px"
                      th:field="*{accountName}"
                      id="form3Example1c"
                      class="form-control"
                      placeholder="Name"
                      required
                    />
                    <label class="form-label" for="form3Example1c">Name</label>
                  </div>
                </div>
         

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-floating">
                    <input
                      type="email"
                      style="width: 350px"
                      th:field="*{email}"
                      id="form3Example3c"
                      class="form-control"
                      placeholder="Email"
                      required
                    />
                    <label class="form-label" for="form3Example3c">Email</label>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-home fa-lg me-3 fa-fw"></i>
                  <div class="form-floating">
                    <input
                      type="text"
                      style="width: 350px"
                      th:field="*{address}"
                      id="form3Example4c"
                      class="form-control"
                      placeholder="Address"
                      required
                    />
                    <label class="form-label" for="form3Example4c"
                      >Address</label
                    >
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                  <div class="form-floating">
                    <input
                      type="tel"
                      id="form3Example4cd"
                      th:field="*{phone}"
                      style="width: 350px"
                      class="form-control"
                      placeholder="Phone Number"
                      required
                    />
                    <label class="form-label" for="form3Example4cd"
                      >Phone Number</label
                    >
                  </div>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button type="submit" class="btn btn-primary btn-lg">
                    Create
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- TABLE FROM HERE -->
          <div
            class="col-md-14 col-lg-8 col-xl-8 d-flex order-1 order-lg-2"
            style="overflow-x: auto;"
          >
            <div class="col" style="min-height: 500px">
              <h1 class="text-center">Record of Accounts</h1>
              <table
                class="table table-striped"
                id="dataTable"
                data-page-length="10"
                data-order='[[6, "asc"]]'
              >
                <thead>
                  <tr>
                    <th scope="col" style="width: 10%">ID</th>
                    <th scope="col" style="width: 15%">Name</th>
                    <th scope="col" style="width: 18%">Email</th>
                    <th scope="col" style="width: 12%">Phone</th>
                    <th scope="col" style="width: 25%">Address</th>
                    <th scope="col" style="width: 10%">Balance</th>
                    <th scope="col" style="width: 10%">Status</th>
                  </tr>
                </thead>

                <tbody>
                  <tr th:each="u:${accountList}">
                    <td th:text="${u.accountId}"></td>
                    <td th:text="${u.accountName}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.phone}"></td>
                    <td th:text="${u.address}"></td>
                    <td th:text="${u.balance}"></td>
                    <td th:text="${u.status}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
