<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	
</head>
<body>
    <h2>Teller Entry Form</h2>
			<form th:action="@{/addaccount}" method="get" id="form2" th:object="${account}">
				<table class="table table-striped">
					<tr>
						<td hidden>Account Id:</td>
						<td><input type="text" th:field="*{accountId}" id="accountId" hidden></td>
					</tr>
					<tr>
						<td>Name:</td>
						<td><input type="text" id="accountName" th:field="*{accountName}"></td>
					</tr>
					<tr>
						<td hidden>Account Balance:</td>
						<td><input type="number" id="balance" th:field="*{balance}" value=0 hidden></td>
					</tr>
					<tr>
						<td>Address:</td>
						<td><input type="text" id="balance" th:field="*{address}"></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input type="text" id="email" th:field="*{email}"></td>
					</tr>
					<tr>
						<td>Phone No.:</td>
						<td><input type="tel" id="phone" th:field="*{phone}"></td>
					</tr>
					<tr>
						<td hidden>Status:</td>
						<td><input type="text" id="status" th:field="*{status}" th:value="active" hidden></td>
					</tr>

				</table>
                <button type="submit" form="form2" value="Submit">Create Account</button>
			</form>

			<!-- TABLE FROM HERE -->

			<table>
				<thead class="thead-dark">
				  <tr>
					<th>Account Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone No.</th>
					<th>Address</th>
					<th>Status</th>
					<th>Balance</th>
					<th>Actions</th>
				  </tr>
				</thead>
		  
				<tbody>
				  <tr th:each="u:${accountList}">
					<td th:text="${u.accountId}"></td>
					<td th:text="${u.accountName}"></td>
					<td th:text="${u.email}"></td>
					<td th:text="${u.phone}"></td>
					<td th:text="${u.address}"></td>
					<td th:text="${u.status}"></td>
					<td th:text="${u.balance}"></td>
		  
					<td><a class="edit" th:href="@{'/edit/' +${u.accountId}}"> <i
											  class="fas fa-user-edit"></i> edit
									  </a> <a style="color: red" th:href="@{'/delete/' + ${u.accountId}}"><i
											  class="fas fa-trash"></i>delete</a></td>
							  </tr>
				  </tr>
				</tbody>
			  </table>
			  


			    <!-- Nav Button HERE -->
				<button
				type="button"
				class="btn btn-primary"
				onclick="window.location.href='/'"
			  >
				Home
			  </button>
			  <button
				type="button"
				class="btn btn-primary"
				onclick="window.location.href='/view'"
			  >
				Back to View Page
			  </button>
			  <form action="/logout" method="post">
				<button type="submit">Logout</button>
			  </form>

</body>
</html>