<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to Cecil Street</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <div th:replace="~{components :: bootstrap-links}"></div>
    <script>
      window.history.pushState("url", "Title", "/login");
    </script>
  </head>
  <body
    class="d-flex align-items-center py-4 bg-body-tertiary"
    style="
      background-image: url('/images/login-bg.gif');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    "
  >
    <div th:replace="~{components :: toggle-color-modes}"></div>

    <div th:if="${param.error}">
      <div
        aria-live="polite"
        aria-atomic="true"
        data-bs-delay="5000"
        style="
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        "
      >
        <div class="toast show" data-bs-toggle="toast" data-bs-dismiss="toast">
          <div class="toast-header">
            <strong class="me-auto">Error</strong>
          </div>
          <div class="toast-body">Wrong Credentials! Please try again.</div>
        </div>
      </div>
    </div>

    <main class="form-signin w-100 m-auto" style="background-color: white">
      <form th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            name="username"
            placeholder="Teller Name"
          />
          <label for="floatingInput">Teller Name</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            name="password"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">
          Sign in
        </button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; Room 4</p>
      </form>
    </main>
  </body>
</html>
