<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/savetransact">

        <div>
            <label for="id">Account ID:</label>
            <input type="number" class="form-control" id="id" name="id" th:field="*{id}" readonly>
        </div>

        <label for="choice">Please Select Transaction Type:</label>
        <select id="choice" name="choice">
            <option value="deposit">Deposit</option>
            <option value="withdraw">Withdraw</option>
        <br>
        <label for="amt">Please Input Transaction Amount:</label>
        <input type="number" id="amt" name="amt">
        
    </form>
</body>
</html>