<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:replace="~{components :: bootstrap-links}"></div>
</head>
<body>
    <div th:replace="~{components :: toggle-color-modes}"></div>
    <div th:replace="~{components :: navbar}"></div>
    <!-- <div th:if="${withdrawExceed}">
        <div
          aria-live="polite"
          aria-atomic="true"
          data-bs-delay="5000"
          style="
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          "
        >
          <div class="toast show" data-bs-toggle="toast" data-bs-dismiss="toast">
            <div class="toast-header">
              <strong class="me-auto">Error</strong>
            </div>
            <div class="toast-body">Too much to withdraw! Please try again.</div>
          </div>
        </div>
      </div> -->

    <form action="/savetransact" th:object="${accToEdit}">

        <div>
            <label for="aid">Account ID:</label>
            <input type="number" class="form-control" id="aid" name="aid" th:field="*{accountId}" readonly>
            <input type="hidden" id="id" name="id" th:value="${accToEdit.accountId}">
        </div>

        <label for="transType">Please Select Transaction Type:</label>
        <br>
        <select id="transType" name="transType">
            <option value="withdraw">Withdraw</option>
            <option value="deposit">Deposit</option>
        <br>
        <label for="amt">Please Input Transaction Amount:</label>
        <input type="number" id="amt" name="amt">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>