<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <div th:replace="~{components :: bootstrap-links}"></div>
    <div th:replace="~{components :: datatable-links}"></div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <script>
      $(document).ready(function () {
        $("#dataTable").DataTable({
          searching: false,
          dom: "rtiplf",
          info: false,
          columnDefs: [
            { orderable: false, targets: 7 },
            {
              targets: 6,
              render: function (data, type, row, meta) {
                if (type === "sort") {
                  switch (data) {
                    case "active":
                      return 0;
                    case "inactive":
                      return 1;
                    case "closed":
                      return 2;
                  }
                }
                return data;
              },
            },
          ],
        });
      });
    </script>
    <style>
      td i {
        font-size: 20px;
        margin-right: 20px;
      }

      th,
      td {
        text-align: center;
      }
      .capitalize {
        text-transform: capitalize;
      }
    </style>
    <script>
      window.history.pushState("url", "Title", "/view");
    </script>
  </head>

  <body>
    <div th:replace="~{components :: toggle-color-modes}"></div>
    <div th:replace="~{components :: navbar}"></div>

    <div style="text-align: center">
      <h1>
        Welcome
        <span
          style="color: #712cf9; font-weight: bold"
          sec:authentication="authorities[0]"
        ></span
        >, <span class="capitalize" sec:authentication="name"></span> to Albert
        Bank!
      </h1>
    </div>

    <div
      class="mydivlist"
      style="
        overflow-x: auto;
        width: 85%;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        margin: 20px auto;
        flex: 1;
      "
    >
      <table
        class="table table-striped"
        id="dataTable"
        data-page-length="10"
        data-order='[[6, "asc"]]'
      >
        <thead>
          <tr>
            <th scope="col" style="text-align: center; width: 5%">ID</th>
            <th scope="col" style="text-align: center; width: 10%">Name</th>
            <th scope="col" style="text-align: center; width: 15%">Email</th>
            <th scope="col" style="text-align: center; width: 10%">Phone</th>
            <th scope="col" style="text-align: center; width: 20%">Address</th>
            <th scope="col" style="text-align: center; width: 10%">Balance</th>
            <th scope="col" style="text-align: center; width: 10%">Status</th>
            <th scope="col" style="text-align: center; width: 15%">Action</th>
          </tr>
        </thead>
        <div sec:authorize="hasAnyAuthority('teller', 'superadmin')">
          <tbody>
            <tr th:each="x:${accounts}">
              <td th:text="${x.getAccountId()}" ></td>
              <td th:text="${x.getAccountName()}"></td>
              <td th:text="${x.getEmail()}"></td>
              <td th:text="${x.getPhone()}"></td>
              <td th:text="${x.getAddress()}"></td>
              <td th:text="'S$ '+${x.getBalance()}"></td>
              <td th:text="${x.getStatus()}"></td>
              <td>
                <div sec:authorize="hasAnyAuthority('teller', 'superadmin')">
                  <a th:href="'/transact/'+${x.getAccountId()}"
                    ><i
                      th:if="${x.getStatus().equalsIgnoreCase('active')}"
                      class="fas fa-exchange-alt"
                    ></i
                  ></a>
                  <a th:href="'/transaction/'+${x.getAccountId()}"
                    ><i class="fas fa-history"></i
                  ></a>
                  <a th:href="'/edit/'+${x.getAccountId()}"
                    ><i
                      th:if="${!x.getStatus().equalsIgnoreCase('closed')}"
                      class="fas fa-pencil-alt"
                    ></i
                  ></a>
                  <a th:href="'/delete/'+${x.getAccountId()}"
                    ><i
                      th:if="${!x.getStatus().equalsIgnoreCase('closed')}"
                      class="fas fa-trash-alt"
                    ></i
                  ></a>
                </div>
              </td>
            </tr>
          </tbody>
        </div>
      </table>
    </div>
  </body>
</html>
