<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <div th:replace="~{components :: bootstrap-links}"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
      td i {
          font-size: 20px;
          margin-right: 20px; 
      }

        tr, td{
            text-align: center;
        }
  </style>
    <script>
      window.history.pushState("url", "Title", "/view");
    </script>

  </head>

  <body>
    <div th:replace="~{components :: toggle-color-modes}"></div>
    <div th:replace="~{components :: navbar}"></div>
    <div th:if="${accountClosed}">
      <div
        aria-live="polite"
        aria-atomic="true"
        data-bs-delay="5000"
        style="
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        "
      >
        <div class="toast show" data-bs-toggle="toast" data-bs-dismiss="toast">
          <div class="toast-header">
            <strong class="me-auto">Error</strong>
          </div>
          <div class="toast-body">Account closed, can't transact!</div>
        </div>
      </div>
    </div>
    <div class="mydivlist"  style="width: 85%; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); margin: 20px auto; flex: 1;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 5%;">ID</th>
            <th scope="col" style="width: 10%;">Name</th>
            <th scope="col" style="width: 15%;">Email</th>
            <th scope="col" style="width: 10%;">Phone</th>
            <th scope="col" style="width: 20%;">Address</th>
            <th scope="col" style="width: 10%;">Balance</th>
            <th scope="col" style="width: 10%;">Status</th>
            <th scope="col colspan="4"">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="x:${accounts}">
            <td th:text="${x.getAccountId()}"></td>
            <td th:text="${x.getAccountName()}"></td>
            <td th:text="${x.getEmail()}"></td>
            <td th:text="${x.getPhone()}"></td>
            <td th:text="${x.getAddress()}"></td>
            <td th:text="'S$ '+${x.getBalance()}"></td>
            <td th:text="${x.getStatus()}"></td>
            <td>
              <a th:href="'/transact/'+${x.getAccountId()}"><i class="fas fa-exchange-alt"></i></a>
              <a th:href="'/transaction/'+${x.getAccountId()}"><i class="fas fa-history"></i></a>
              <a th:href="'/edit/'+${x.getAccountId()}"><i class="fas fa-pencil-alt"></i></a>
              <a th:href="'/delete/'+${x.getAccountId()}"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>    
  </body>
</html>
